* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  min-width: 100%;
  min-height: 100%;
  background-color: #f9eeff;

  overflow-x: hidden;
  overflow-y: scroll;

  margin-bottom: 5rem;
}

header {
  margin: 0;
  padding: 0;
  height: 35vh;
  min-width: 100%;
  overflow-x: hidden;
}

.top-img {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  height: 100%;
  min-width: 100%;
  object-fit: cover;
  z-index: -1;
}

main {
  background-color: #fff;

  /* margin: -10rem auto; changing */

  margin: -10rem auto;

  font-size: 1.2rem;
  padding: 2.4rem;
  width: 80%; /* changing  */

  border-radius: 15px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  margin-bottom: 10rem;
  /* changing */
}

main h1 {
  margin-top: 1.4rem;
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: #2f1533;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2rem;
}

main h6 {
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
  color: #2f1533;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main p {
  font-size: 1.2rem;
  margin-bottom: 3.2rem;
  color: #8c6991;
  font-weight: 300;
  max-width: 90%;
}

.hide-display {
  display: none;
}

.question,
.icon {
  cursor: pointer;
}

.question:hover {
  color: #ad28eb;
}

@media (min-width: 25em) {
  main {
    width: 60%;
  }
}

@media (min-width: 37em) {
  main {
    width: 40%;
  }
}

@media (min-width: 54em) {
  main h1 {
    margin-top: 2rem;
  }

  main h6 {
    font-size: 1.8rem;
  }

  main p {
    font-size: 1.6rem;
  }
}
